header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    z-index: 10;
    padding: 10px 20px;
    box-shadow: 0px 5px 50px;
}

.nav-link {
    color: #ffffff !important;
}

.logo-fpt {
    height: 50px;
    border-radius: 35px;
    margin-left: 50px;
}



.dropdown {
    margin-top: 5px;
}

li {
    margin-left: 25px;
}

ul {
    margin-right: 120px;
}

i {
    text-align: center;
}

.dropdown-toggle::after {
    display: none !important;
}

.container{
    margin-top: 150px !important;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
    text-align: center;
    margin-bottom: 35px;
    text-decoration: underline;
}
button{
    margin: 35px 0 35px 0;
}