header.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: orange;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0px 5px 50px;
}
.nav-link {
  color: #ffffff !important;
}
.logo-fpt{
  height: 50px;
  border-radius: 35px;
  margin-left: 50px;
}



.dropdown{
  margin-top: 5px;
}
li{
  margin-left: 25px;
}
ul{
  margin-right: 120px;
}
i{
  text-align: center;
}
.dropdown-toggle::after {
  display: none !important;
}


.container{
    margin-top: 150px;
}

/* .stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 15px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: orange;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid orange;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
} */



.button{
    margin-top: 69%;

}
.btn-outline-warning{
    color: rgb(0, 0, 0) !important;
    width: 150px !important;
}
.btn-warning{
    color: #ffffff !important;
    background-color: orange !important;
    width: 150px !important;
}